body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #f4f6f8;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgb(251, 200, 200);
    border-radius: 20px;

}

.title {
    text-align: center;
    color: #2c3e50;
    font-size: 36px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-style: italic;
    color: #555;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

.content p {
    line-height: 1.8;
    font-size: 18px;
    color: #333;
    text-align: justify;
}
